:root{
    --first-bg-color: white;
    --second-bg-color: rgb(163, 224, 245);
    --first-acc: #c7ebf7;
    --second-acc: #2fbff8;
    --font-color: #2b2929f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Varela Round", Arial;
}

body{
    color: var(--font-color);
    background-color: var(--first-bg-color);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;
}

/* This is the nav bar for the website*/

.nav{
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: var(--first-bg-color);
    z-index: 5000;
}

.navlinks{
    display: flex;
    gap: 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;    
    margin: 0 50px 0 50px;
}

.navlinks li:first-child{
    width: 500px;
    height: 55px;
    left: 0;
}

.navlinks li:first-child a img{
    height: 43px;
    width: 43px;
    margin-right: 20px;
}

.navlinks li:nth-child(2){
    margin-left: auto;
}

ul li a img{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.navlinks li{
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
}

.nav-item {
    font-size: 1.2rem;
    color: var(--font-color);
    transition: all 0.4s ease-in-out;
}

.navlinks li:last-child a{
    color: var(--first-bg-color);
    background-color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 50px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    padding: 5px 10px 5px 10px;
}

.navlinks li:not(:first-child) a:hover{
    color: var(--second-acc);
}

.navlinks li:last-child a:hover{
    color: var(--font-color);
    background-color: var(--first-bg-color);
}

.active{
    position: relative;
    color: var(--second-acc);
}

#name{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* This is the home page */

.base-section{
    display: flex;
    width: 100%;
    height: 100vh;
}

.color-side{
    position: relative;
    width: 40%;
    height: calc(100vh - 75px);
    background-color: var(--second-bg-color);
}

.info-content{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 28px;
    left: -235px;
}

#info-side{
    position: relative;
    top: -33px;
    width: 500px;
    height: 541px;
    padding: 21px 30px 0px 30px; 
}

#profile{
    position: relative;
    top: -33px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 350px;
    background-color: #c7ebf7;
    box-shadow: -10px 10px 15px 1px rgba(0, 0, 0, 0.150);
}

#pic-container{
    margin-top: 50px;
    width: 175px;
    height: 175px;
}

#profile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

#profile h2{
    margin: 15px 0 15px 0;
}

#line{
    margin: 20px;   
    position: relative;
    width: 50px;
    height: 1px;
    background-color: var(--second-acc);
}

#socials{
    display: flex;
    justify-content: center;
    margin-top: 41px;
    height: 55px;
    width: 100%;
    background-color: var(--first-bg-color);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#socials-list{
    position: relative;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

#socials-list li{
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#socials-list i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1.7rem;
    color: var(--font-color);
    transition: all 0.3s ease;
}

#socials-list i:hover{
    color: var(--second-acc);
    transform: scale(1.3);
}

#tech-stack ul{
    margin: 31px 0 25px 40px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 75px);
    column-gap: 25px;
    grid-template-rows: repeat(3, 75px);
}

#tech-stack ul li i{
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tech-stack ul li i{
    font-size: 2.5rem;
    padding: 30px;
    transition: all 0.3s ease;
}

#tech-stack ul li i:hover{
    transform: scale(1.3);
    color: var(--second-bg-color);
}

.footer{
    position: fixed;
    margin-top: auto;
    display: flex;
    padding: 21px 53px;
    height: 75px;
    width: 100%;
    bottom: 0;
    background-color: var(--first-bg-color);
}

.footer p {
    color: var(--font-color);
    font-size: 11px;
}

#left{
    position: relative;
    margin-right: auto;
    width: 250px;
}

#right{
    position: relative;
    margin-left: auto;
    float: right;
    width: 250px;
}

#right ul, #right p{
    justify-content: flex-end;
    display: flex;
    align-content: center;
    gap: 10px;
    list-style-type: none;
}

#right i{
    color: var(--second-acc);
}

/* This is the experience page */

#color{
    height: 2000px;
}

.info{
    position: fixed;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 75px);
    margin-top: 125px;
    width: 40%;
    height: auto;
    padding: 75px;
}

.timeline{
    position: fixed;
    display: flex;
    top: 400px;
    width: 250px;
    margin-left: 75px;
}

.timeline ul{
    position: relative;
    list-style-type: none;
    
}

.year-item{
    margin-bottom: 25px;
    position: relative;
    transition: all 0.s ease;
}

.year-item::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 50px;
    height: 1px;
    top: 12px;
    left: 53px;
}

.scrollable{
    scrollbar-gutter: stable;
    position: relative;
    display: flex;
    justify-content: center;
    top: 150px;
    height: 800px;
    padding-top: 100px;
    width: 1150px;
    overflow-y: overlay;
}

.experiences{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 1600px;
    text-align: right;
}

.exp-info{
    width: 900px;
    margin-bottom: 50px;
    position: relative;
}

.extended{
    color: white;
    transform: scale(1.1);
}

.extended::after{
    content: '';
    position: absolute;
    background-color: white;
    top: 11px;
    left: 53px;
    height: 2px;
    width: 140px;
}

/* This is the projects page */

#projects{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
    width: 100%;
    background-color: var(--second-bg-color);
}

.heading{
    display: flex;
    justify-content: center;
    margin-top: 135px;
    margin-bottom: 20px;
}

#project-box{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-view{
    margin: 0 auto 0 auto;
    width: 1230px;
    height: 575px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

#project-grid{
    display: flex;
    width: 90%;
    gap: 15px;
    transition: transform 0.3s ease-out;
}

.boxes{
    width: 400px;
    height: 550px;
    background-color: var(--first-bg-color);
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.3s ease;
}

.boxes:hover{
    transform: translateY(-10px);
}

.project-img{
    display: flex;
    justify-content: center;
    width: 368px;
    height: 250px;
}

.project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 55px;
}

.button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    background: var(--first-bg-color);
}

.button:hover{
    cursor: pointer;
}

@keyframes bounce {
0%   { transform: translateY(0); }
100% { transform: translateY(2px); }
}