:root{
    --first-bg-color: white;
    --second-bg-color: rgb(163, 224, 245);
    --first-acc: #bdecff;
    --second-acc: #2fbff8;
    --third-acc: #023551;
    --font-color: #111111;
    --modal-background: rgba(0, 0, 0, 0.5);
    --modal-fields: #6e6b6bc7;
    --box-shadow: rgba(0, 0, 0, 0.129);
    --square-initial: rgba(255, 255, 255, 0.738);
    --square-final: rgba(255, 255, 255, 0.695);
    --box-glow:
        0 12px 30px rgba(0, 0, 0, 0.25),
        0 0 25px rgba(47, 191, 248, 0.35);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Google Sans", Arial;
}

body{
    color: var(--font-color);
    background-color: var(--first-bg-color);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* This is the nav bar for the website*/

.nav{
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: color-mix(
        in srgb,
        var(--first-bg-color) 70%,
        transparent
    );
    z-index: 2;
}

.navlinks{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;    
    height: 100%;
    margin: 0 50px 0 50px;
}

.navlinks li:first-child{
    color: var(--font-color);
    text-decoration: none;
    width: 170px;
    height: 55px;
    left: 0;
}

.navlinks li:first-child a img{
    height: 43px;
    width: 43px;
    margin-right: 15px
}

.navlinks li:nth-child(2){
    margin-left: auto;
}

ul li a:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--font-color);
    transition: 0.3s ease-in-out;
}

ul li a:first-child:hover{
    color: var(--second-acc);
}

ul li a img{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.navlinks li{
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
}

.nav-item {
    font-size: 1.2rem;
    color: var(--font-color);
    transition: all 0.3s ease-in-out;
}

.navlinks li:last-child a{
    color: var(--first-bg-color);
    background-color: var(--third-acc);
    border: 1px solid var(--third-acc);
    border-radius: 50px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    padding: 3px 15px 3px 15px;
    user-select: none;
    cursor: pointer;
}

.navlinks .active{
    position: relative;
    color: var(--second-acc);
}

.navlinks li:not(:first-child) a:hover{
    color: var(--second-acc);
}

.navlinks li:last-child a:hover{
    color: var(--third-acc);
    background-color: var(--first-bg-color);
}

#name{position: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* This is the home page */

.base-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    width: 100%;
    height: calc(100vh - 150px);
}

.info-content{
    width: 100%;
    height: calc(100% - 150px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bento-container {
     position: relative;
    z-index: 0;
    display: grid;
    /* Defines 3 equal-width columns */
    grid-template-columns: repeat(3, 1fr); 
    /* Defines 6 equal-height rows */
    grid-template-rows: repeat(6, 1fr); 
    gap: 20px; /* Adds space between boxes */
    width: 750px;
    height: 700px;
    /* Names the grid areas for layout definition */
    grid-template-areas: 
        "box1 box1 box1"
        "box1 box1 box1"
        "box2 box2 box3"
        "box2 box2 box3"
        "box4 box5 box5"
        "box4 box5 box5";
}

.bento-item {
    border: solid 1px color-mix(in srgb, var(--third-acc), transparent 60%);
    background-color: color-mix(in srgb, var(--first-acc), transparent 80%);
    border-radius: 10px;
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes borderCycle {
  0%   { background-position:   0% 50%; }
  100% { background-position: 300% 50%; }
}

.box-1 { grid-area: box1; }
.box-2 { grid-area: box2; }
.box-3 { grid-area: box3; }
.box-4 { grid-area: box4; }
.box-5 { grid-area: box5; }
.box-6 { grid-area: box6; }
.box-7 { grid-area: box7; }

@media (max-width: 1600px) {
    .bento-container {
        /* Stacks all items in a single column on mobile */
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
            "box7";
    }
}


@keyframes social-opacity { 
    from {
        background-color: color-mix(in srgb, var(--first-bg-color), transparent 40%);
    } to {
        background-color: var(--first-bg-color);
    }
}

@keyframes social-reverse {
    from{
        background-color: var(--first-bg-color);
    } to { 
        background-color: color-mix(in srgb, var(--first-bg-color), transparent 40%);
    }
}

.footer{
    position: fixed;
    margin-top: auto;
    display: flex;
    padding: 21px 53px;
    height: 75px;
    width: 100%;
    bottom: 0;
    background-color: var(--first-bg-color);
    z-index: 25;
}

.footer p {
    color: var(--font-color);
    font-size: 11px;
}

#left{
    position: relative;
    margin-right: auto;
    width: 250px;
}

#right{
    position: relative;
    margin-left: auto;
    float: right;
    width: 250px;
}

#right ul, #right p{
    justify-content: flex-end;
    display: flex;
    align-content: center;
    gap: 10px;
    list-style-type: none;
}

#right i{
    color: var(--second-acc);
}

/* This is the experience page */

.experience {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.exp-con{
    display: grid;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 650px;
    grid-template-columns: repeat(3, 405px);
    grid-template-rows: repeat(2, 320px);
}

.exp-el{
    position: relative;
    padding: 15px;
    width: 385px;
    height: 300px;
    border: solid 1px color-mix(in srgb, var(--third-acc), transparent 60%);
    background-color: color-mix(in srgb, var(--first-acc), transparent 80%);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.exp-el:hover {
    transform: translateY(-10px);
    box-shadow: var(--box-glow);
}

.exp-el h1{
    font-size: 1rem;
}

.exp-el p {
    font-size: 0.9rem;
}

.exp-el ul { 
    margin-top: 3px;
    margin-left: 25px;
    font-size: 0.9rem;
}

.skills{
    height: 85px;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.skill-list ul:nth-child(1){
    list-style-type: none;
    display: flex;
    margin: 17px 0 0px 0;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;  
    flex-direction: row;
}

.skill-list ul:nth-child(2) {
    list-style-type: none;
    display: flex;
    margin: 7px 0 0px 0;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;  
    flex-direction: row;
}

.skill-list ul:nth-child(2) li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    padding: 0 5px 0 5px;   
    color: var(--first-bg-color);   
    background-color: var(--third-acc);
    border: solid 1px var(--third-acc);
    border-radius: 20px;
}

.skill-list-2 ul:nth-child(1){
    list-style-type: none;
    display: flex;
    margin: 26px 0 0 0;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;  
    flex-direction: row;
}

.skill-list-2 ul:nth-child(2), .skill-list-2 ul:nth-child(3) {
    list-style-type: none;
    display: flex;
    margin: 7px 0 5px 0;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;  
    flex-direction: row;
}

.skill-list-3 ul:first-child {
    list-style-type: none;
    display: flex;
    margin: 17px 0 0px 0;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;  
    flex-direction: row;
}

.skill-list-3 ul:nth-child(2) {
    list-style-type: none;
    display: flex;
    margin: 7px 0 10px 0;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;  
    flex-direction: row;
}

.skill-list ul:first-child li, .skill-list ul:nth-child(2) li {
    border: solid 1px var(--third-acc);
    background-color: var(--third-acc);
    border-radius: 20px; 
    height: 30px;
    color: var(--first-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-right: 10px;
}

.skill-list-2 ul:first-child li, .skill-list-2 ul:nth-child(2) li, .skill-list-2 ul:nth-child(3) li {
    border: solid 1px var(--third-acc);
    background-color: var(--third-acc);
    height: 30px;
    border-radius: 20px; 
    color: var(--first-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-right: 10px;
}

.skill-list-3 ul:first-child li, .skill-list-3 ul:nth-child(2) li{
    border: solid 1px var(--third-acc);
    background-color: var(--third-acc);
    border-radius: 20px; 
    height: 30px;
    color: var(--first-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9px;
    margin-right: 10px;
}

/* This is the projects page */

#projects{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.heading{
    display: flex;
    justify-content: center;
}

#project-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5000;
}

#project-box h2{
    color: var(--font-color);
}

.project-view{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1353px;
    height: 560px;
    overflow-x: hidden;    
    z-index: 500;   
}

#project-grid{
    display: flex;  
    width: 100%;
    transition: transform 0.3s ease-out;
    gap: 35px;
    padding: 5px 25px 5px 25px;
}

.boxes{
    width: 440px;
    height: 498px;
    border: solid 1px color-mix(in srgb, var(--third-acc), transparent 60%);
    background-color: color-mix(in srgb, var(--first-acc), transparent 60%);
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease;
}

.boxes:hover{
    transform: translateY(-10px);
    box-shadow: 
        var(--box-glow)
    ;
}

.boxes p{
    font-size: 0.9rem;
}

.boxes h3 {
    padding-top: 12px;
}

.project-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 250px;
    border-radius: 15px;
}

.project-img img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
}

.tech-icons{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
}

.tech-icon{
    display: inline-flex;
    align-items: center;
    width: 103px;
    height: 35px;
    border-radius: 30px;
    gap: 6px;
    border: solid 1px var(--third-acc);
    background-color: var(--third-acc);
    padding: 0 11px;  
    transition: all 0.3s ease-in-out;
}

.tech-icon i, .tech-icon p { 
    font-size: 0.9rem;
    color: var(--first-bg-color);
}

.desc{
    height: 50px;
}

.go-to{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 16px;
    width: 97.7%;
    height: 35px;
}

.project-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 0 9.5px 0 0;
    border: 1px solid var(--third-acc);
    border-radius: 50px;
    background-color: var(--third-acc);
    backdrop-filter: blur(50px);
}

.see-more{
    display: flex;
    align-items: center;
    color: var(--first-bg-color);
    font-size: 1rem;
}

.see-more i {
    transition: transform 0.2s ease-in-out;
}

.see-more p{
    display: none;
    width: 71px;
    font-size: 0.9rem;
}

@keyframes opacity-more { 
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes opacity-less {
    from { opacity: 0; }
    to {opacity: 1; }
}


@keyframes see-more {
    from {
        width: 35px;
    } to {
        width: 109px;
        background-color: var(--third-acc);
    }
}

@keyframes see-less {
    from {
        width: 109px;
        background-color: var(--third-acc);
    } to {
        width: 35px;
    }
}

#buttons{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1250px;
    gap: 20px;
    height: auto;
    margin: 10px;
}
.button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    background: var(--first-acc);
}

.button:hover{
    cursor: pointer;
}

@keyframes bounce {
0%   { transform: translateY(0); }
100% { transform: translateY(2px); }
}

#pdf-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#pdf {
    width: 60%;
    height: 100%;
}

#pdf embed #shadow-root{
    zoom: 150%;
}

/* This is the 'Contact Me' model */

.some-modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-background);
    z-index: 100;
    width: 100%;
    height: 100%;
    animation: appear 0.6s ease-in-out;
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 475px;
    background-color: white;
    border-radius: 30px;
}

.deco-side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 475px;
    background-color: var(--first-acc);
    border-radius: 30px;
    padding: 26.5px 28px 40px 28px; 
}

.deco-side p {
    padding: 1px 34px 6px 34px;
    width: 450px;
    font-size: 0.9rem;  
    text-align: left;
}

.email-side {
    top: -3px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 475px;
}

.email, .about {
    position: relative;
    width: 400px;
    height: 75px;
}

.message {
    position: relative;
    width: 400px;
    height: 210px;
}

#modal-email, #modal-about {
    margin: 5px 0 5px 0;
    padding: 0px 11px 0 11px;
    width: 400px;
    height: 35px;
    border: 1px solid var(--modal-fields);
    border-radius: 20px;
    font: 0.9rem "Varela Round";
    color: var(--font-color);
    box-shadow: 0 0 1px 1px var(--box-shadow);
    transition: all 0.3s ease-in-out;
}

#modal-msg {
    margin: 5px 0 5px 0;
    padding: 11px;
    width: 400px;
    height: 180px;
    border: 1px solid var(--modal-fields);
    border-radius: 15px;
    font: 0.9rem "Varela Round";
    color: var(--font-color);
    box-shadow: 0 0 1px 1px var(--box-shadow);
    transition: all 0.3s ease-in-out;
    resize: none
}

#modal-msg::-webkit-scrollbar{
    width: 1px;
}

#modal-email:hover, #modal-about:hover, #modal-msg:hover {
    border: 1px solid var(--first-acc);
    box-shadow: 0 0 7px 2px var(--first-acc);
}

#msg-labels {
    position: relative;
    display: flex;
    align-items: center;
    gap: 277px;
    height: 23px;
}

.input-active {
    border: 1px solid var(--second-acc) !important;
    box-shadow: 0 0 7px 2px var(--second-acc) !important;
    background-color: #00000008 !important;
}

.submit-btn{
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 25px;
    margin-top: 13px;
}

#submit {
    width: 125px;
    height: 40px;
    font-size: 12pt;
    color: white;
    background-color: var(--second-bg-color);
    border-radius: 30px;
    border: var(--second-bg-color) 1px solid;
    transition: ease-in-out 0.3s;
}

#submit:hover{
    background-color: transparent;  
    color: var(--second-bg-color);
    border: var(--second-bg-color) 1px solid;
}

@keyframes appear {
    0% {
        opacity: 0.01;
    } 25% {
        opacity: 0.25;
    } 50% {
        opacity: 0.5;
    } 75% {
        opacity: 0.75;
    } 85% {
        opacity: 0.88;
    } 100% {
        opacity: 0.99;
    }
}

@keyframes disappear {
    0% {
        opacity: 0.99;
    } 25% {
        opacity: 0.75;
    } 50% {
        opacity: 0.5;
    } 75% {
        opacity: 0.25;
    } 100% {
        opacity: 0.01;
    }
}   

.char-count {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 18px;
    width: 50px;
    font: 0.7rem "Varela Round";
}

.connect { 
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 4px;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.link-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.link-icon li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--square-initial);
    border: none;
    border-radius: 7px;
    width: 60px;    
    height: 60px;
    transition: 0.2s linear;
}

.link-icon li:hover {
    background-color: var(--square-final);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.129);
}

.con-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.conn-links{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.conn-links h4{
    color: var(--third-acc);
}

.conn-links a {
    color: var(--font-color);
}

.glow {
    position: absolute;
    width: 1px;
    color: inherit;
    height: 1px;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
    box-shadow: 0 0 80px 60px currentColor;
}

.dots-1{
    top: 10%;
    left: 10%;
    background-color: var(--second-acc);
    color: var(--second-acc);
}

.dots-2{
    top: 25%;
    left: 85%;
    background-color: var(--first-acc);
    color: var(--first-acc);
}

.dots-3{
    bottom: 23%;
    left: 28%;
    background-color: var(--second-bg-color);
    color: var(--second-bg-color);
}

.dots-4 {
    left: 95%;
    top: 90%;
    background-color: var(--third-acc);
    color: var(--third-acc);
}

@keyframes bubbles {
    0%, 100% { transform: scale(0.8); opacity: 1; }
    50% { transform: scale(1.5); opacity: 1; }
}

